.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #370606;
  padding: 20px;
  margin-left: -200px; /* Ancho inicial de la barra lateral */
  width: 200px;
  transition: margin-left 0.3s ease;
}
@media(max-width: 767px) {
  .sidebar {
    margin-left: -230px;
  }
}
@media(min-width: 768px) {
  .sidebar {
    margin-left: -200px;
  }
}

.sidebar-content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar-content a {
  padding: 1%;
  margin: 1% 0;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-links li {
  margin-bottom: 10px;
}

.sidebar-links a {
  text-decoration: none;
  color: #333;
}

/* Estilos para la barra lateral expandida */
.sidebar.expanded {
  margin-left: 0;
  border-radius: 0 10px 10px 0;
}

@media(max-width: 767){
  .sidebar.expanded {
    width: 100px;
  }
}

@media(min-width: 768){
  .sidebar.expanded {
     width: 200px;
  }
 
}