  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  .text {
  /* display: flex;
    flex-direction: column;
    */ max-width: 90%;
    background-color: #2725277e;
    margin: 0 auto;
    padding: 3%;
    border-radius: 5%;
  }

  .paragraph{
    text-align: left;
    margin: 1%;
  }

  #text-download {
    font-size: large;  
    font-style: italic;
  
  }

  #icon-download {
    font-size: 100px;
  }
  #icon-download:hover {
    color: aqua;
  }

  .social-icons {
    margin:1%;
    font-size: 200%;
  }

  #final-text {
    background-color: #2725277e;
    animation: final-text 2s linear 500ms infinite normal none;
  }

  @keyframes final-text {
    from {
        background-image: linear-gradient(rgb(109, 0, 0), rgb(4, 16, 22));
        
    }
    to{
        background-image: linear-gradient(rgb(4, 16, 22),rgb(109, 0, 0));
        
    }
}