  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  .text {
    background-color: #2725277e;
    margin: 0 auto;
    padding: 3%;
    border-radius: 5%;
  }

  .paragraph{
    text-align: left;
    font-size: 80%;
    margin: 1%;
  }

  @media(max-width: 767px) {
    .paragraph {
      font-size: 80%;
    }
  }
  @media(min-width: 768px) {
    .paragraph {
      font-size:100%;
    }
  }


  #text-download {
    font-size: large;  
    font-style: italic;
  
  }

  #icon-download {
    font-size: 100px;
  }
  #icon-download:hover {
    color: aqua;
  }

  #igSection {
    display: flex;
    justify-content: space-around;
  }

  .igDiv {
    margin: 1%;
    padding: 2%;
    background-color: rgb(16, 16, 16);
    border-radius: 5%;
  }

  .social-icons {
    margin:1%;
    padding: 1%;
    font-size: 500%;
    background-color: rgb(23, 22, 22);
    color: crimson;
    border-radius:25%;
  }

  #final-text {
    display: flex;
    flex-direction: row;
    background-color: #2725277e;
    border-radius: 5%;
    animation: final-text 2s linear 500ms infinite normal none;
  }

  @keyframes final-text {
    from {
        background-image: linear-gradient(rgb(109, 0, 0), rgb(4, 16, 22));
        
    }
    to{
        background-image: linear-gradient(rgb(4, 16, 22),rgb(109, 0, 0));
        
    }
}

.contactsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  margin: 1%;
}
.contactsDiv p {
    margin: 3%;
    font-weight: 300;
}

@media (max-width: 767px) {
  .contactsDiv p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .contactsDiv p {
    font-size: 25px;
  }
}


.detailBooksSecton{
  display: flex;
  align-items: center;
  justify-content: center;
}


#bookImg {
  width: 100%;
  height: 80%;
  margin: 2%;
  padding: 1%;
 background-color: pink;
  border-radius: 5px;
}

@media (max-width: 767px) {
  #bookImg {
    width: 100%;
  }
}

@media(min-width: 768px) {
  #bookImg {
    width: 50%;
  }
}

.aboutMeText {
  text-align: center;
  font-size: 80%;
  margin: 3%;
}

#aboutMeDiv {
  border: 2px solid grey;
  margin: 3%;
  padding: 1%;
  background-image: linear-gradient(rgb(40, 37, 37), rgb(57, 12, 12));
}

@media (max-width: 767px) {
  #aboutMeDiv {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  #aboutMeDiv {
    font-size: 25px;
  }
}

#video {
  display: flex;
  justify-content: center;
}


